<div
  class="
    group
    flex
    <%= observation.role == "user" ? "justify-end" : "justify-start" %>
  "
>
  <div
    class="
      max-w-3xl
      flex
      flex-col
    "
  >
    <%= render "fragments/show/toolbar",
        fragment: fragment,
        observation: observation %>
    <div
      class="
        rounded-3xl
        px-6
        py-4
        leading-relaxed
        shadow-sm
        border

        <%= observation.role == "user" ?
          "bg-pink-500 text-white border-pink-500" :
          "theme-surface theme-border" %>
      "
    >
      <%= simple_format(observation.content) %>
    </div>
    <div
      class="
        opacity-0
        group-hover:opacity-100
        transition
        duration-200
        mt-2

        text-xs
        text-zinc-500

        <%= observation.role == "user" ?
          "text-right" :
          "text-left" %>
      "
    >
      <%= conversation_timestamp(observation.created_at) %>
    </div>
  </div>
</div>