<% if current_user %>
  <div
  data-controller="profile-menu"
  data-profile-menu-target="wrapper"
  class="relative p-4"
>
    <button
    data-action="click->profile-menu#toggle"
      data-profile-menu-target="button"
      class="
      w-full
      flex
      items-center
      rounded-xl
      hover:bg-zinc-800
      transition
      p-2
      "
      >
      <div
        class="
          w-10
          h-10
          rounded-full
          overflow-hidden
          bg-pink-500
          shrink-0
          flex
          items-center
          justify-center
        "
      >
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar,
            class: "
              w-full
              h-full
              object-cover
            " %>
        <% else %>
          <span
            class="
              text-white
              font-semibold
            "
          >
            <%= current_user.username.first.upcase %>
          </span>
        <% end %>
      </div>
      <div
      data-sidebar-target="label"
      class="ml-3 flex-1 text-left"
    >
        <div class="text-sm font-medium">
          <%= current_user.username %>
        </div>
        <div class="text-xs text-zinc-500">
          Account
        </div>
      </div>
      <%= lucide_icon "chevrons-up-down",
        class:"w-4 h-4 text-zinc-500" %>
    </button>
    <div
      data-profile-menu-target="menu"
      class="
      hidden

      fixed

      w-72

      rounded-2xl

      border
      theme-border

      theme-surface

      shadow-2xl

      z-9999

      overflow-hidden
      "
    >
      <%= link_to settings_path,
        class:"
          flex
          items-center
          gap-3
          px-4
          py-3
          hover:bg-zinc-800
          transition
        " do %>
        <%= lucide_icon "settings",
          class:"w-4 h-4" %>
        Settings
      <% end %>
      <button class=" w-full flex items-center gap-3 px-4
        py-3 hover:bg-red-900/20 transition text-left"
        data-action="click->confirm-modal#open"
        data-confirm-title="Sign Out"
        data-confirm-message="You'll need to sign in again to continue your thinking."
        data-confirm-button="Sign Out"
        data-confirm-url="<%= signout_path %>"
        data-confirm-method="delete"
        data-confirm-icon="triangle-alert"
        >
        <%= lucide_icon "log-out",
      class: "w-4 h-4" %> Sign Out
      </button>
    </div>
  </div>
<% end %>