<div class="max-w-5xl mx-auto">
  <%= render "fragments/show/header" %>
  <%= render "fragments/show/seed",
      fragment: @fragment %>
  <%= render "fragments/show/sparks",
      fragment: @fragment %>
  <div class="theme-surface border theme-border rounded-2xl p-6">
    <%= render "fragments/show/conversation",
        fragment: @fragment %>
    <%= render "fragments/show/composer",
        fragment: @fragment %>
  </div>
</div>