<div
  data-controller="chat"
  class="
    h-full
    min-h-0
    flex
    flex-col
    gap-1
  "
>
  <%= render "fragments/show/header" %>
  <%= render "fragments/show/seed",
      fragment: @fragment %>
  <%= render "fragments/show/sparks",
      fragment: @fragment %>
  <div
    class="
      flex-1
      min-h-0

      flex
      flex-col
    "
  >
    <div
      data-chat-target="messages"
      class="
        flex-1
        min-h-0
        overflow-y-auto

        pb-0
      "
    >
      <%= render "fragments/show/conversation",
          fragment: @fragment %>
    </div>
    <div
      data-chat-target="composer"
      class="
        pt-0
      "
    >
      <%= render "fragments/show/composer",
          fragment: @fragment %>
    </div>
  </div>
</div>