<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Forge" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path("icon.png") %>
    <%= stylesheet_link_tag "tailwind",
        "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body
    data-controller="theme"
    class="theme-body transition-all duration-300"
  >
    <div data-controller="sidebar" class="min-h-screen">
      <%= render "shared/navbar" %>
      <div class="flex">
        <%= render "shared/sidebar" %>
        <main class="flex-1 p-8">
          <%= render "shared/flash" %>
          <%= yield %>
          <%= render "shared/footer" %>
        </main>
      </div>
    </div>
  </body>
</html>