<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Forge" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path("icon.png") %>
    <%= stylesheet_link_tag "tailwind",
        "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body
    data-controller="theme"
    class="theme-body h-screen overflow-hidden transition-all duration-300"
    >
    <div
      data-controller="sidebar confirm-modal"
      class="flex h-screen"
    >
      <%= render "shared/sidebar" %>
      <div class="flex-1 flex flex-col min-w-0">
        <%= render "shared/navbar" %>
        <main
          class="
            flex-1
            min-h-0
            overflow-hidden
            px-8
            pt-6
            pb-2
          "
        >
          <%= render "shared/flash" %>
          <%= yield %>
        </main>
        <%= render "shared/footer" %>
      </div>
      <%= render "shared/confirm_modal" if current_user %>
      <%= render "shared/toast" %>
    </div>
  </body>
</html>